<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_contents %}
    
<div class="jumbotron">
    <div class="container">
        <img src="{% static '/db-logo.png' %}" class="rounded float-start" alt="db" height="300px" width="300px" style="margin-right: 20px;">
        <h1 class="display-4">Hello Riders</h1>
        <p style="text-align: justify; margin-top: 40px;"> Elytra Technology is developed to address the needs specializing in selling helmets. 
            We aim to give high quality services for our clients to ensure coherent integration of important features that consolidate business operations. 
            Incorporating stocks, transactions, and revenue features in the software provides efficiency, reduces manual workload. </p>
    </div>
    
</div>


{% endblock %}
    