<table class="table table-hover mt-3" id="{{ table_id }}">
    <thead>
        <tr>
            <th scope="col">PID</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Size</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">0001</th>
            <td>HNJ</td>
            <td>Ewan</td>
            <td>Medium</td>
            <td>Black</td>
            <td>Php 999</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">0002</th>
            <td>EVO</td>
            <td>GT PRO</td>
            <td>X Large</td>
            <td>Red</td> 
            <td>Php 999</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">0003</th>
            <td>SPYDER</td>
            <td>Ewan</td>
            <td>Large</td>
            <td>Black-Red</td>
            <td>Php 3500</td>
            <td>10</td>
        </tr>
    </tbody>
</table>